.features-list {
    list-style-type: none;
    display: flex;
    flex-direction: row;
    gap: 24px;
    padding-top: 120px;
    padding-bottom: 120px;
    padding-left: 141px;
    padding-right: 141px;
    font-weight: calc((100% - 96px)/4);
}

.section-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11111;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    padding-top: 120px;
    padding-left: 639px;
    padding-right: 639px;
    padding-bottom: 244px;
}

.card-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.card-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.sr-only {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(100%);
    margin: -1px;
}