.logo {
    margin-right: 76px;
    display: flex;
    justify-self: start;
    padding-bottom: 24px;
    padding-top: 24px;
    
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.33333;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #2e2f42;
}

.logo span {
    color: #4d5ae5;
}

.navigation-list{
    padding-top: 24px;
    padding-bottom: 24px;
    list-style-type: none;
        display: flex;
        flex-direction: row;
        gap: 40px;

}
.contacts-list {
    margin-left:340px;
    list-style-type: none;
    display: flex;
    flex-direction: row;
     justify-self:end;
    gap: 40px;
}
.navigation-link {
        gap: 40px;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.navigation-link:hover,
.navigation-link:focus {
    color: #404bbf;
}

.contact-link {
    display: flex;
justify-self:end;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    font-style: normal;
}

.contact-link:hover,
.contact-link:focus {
    color: #404bbf;
}

.container {
    max-width:1158px ;
    padding-left:15px;
    padding-right:15px ;
    margin-left: ;
    margin-right: ;
    display: flex;
    align-items:center;
}


