.hero {
    background-color: #2e2f42;
    padding-top: 188px;
    padding-bottom: 188px;
    padding-right: 141px;
    padding-left: 141px;
}

.hero-title {
    font-family: "Roboto", sans-serif;
        font-weight: 700;
        font-size: 56px;
        line-height: 1.07143;
        letter-spacing: 0.02em;
        text-align: center;
        color: #fff;
     margin-left: 331.5px;
     margin-right: 331.5px;
     margin-bottom: 104px;
}

.hero-button {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4d5ae5;
    cursor: pointer;
    display: block;
    margin: auto;
    border-radius: 4px;
        padding: 16px 32px;
        width: 169px;
        height: 56px;
        max-width: 169px;
        box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
            background: #4d5ae5;
    
}

.hero-button:hover,
.hero-button:focus {
    background-color: #404bbf;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
}

